<!DOCTYPE html>
<html>
<head>
	<title>Kraift's Blog</title>
</head>
<body>
    
    <div>
        <h1><a href="/">Post list in index</a></h1>
    </div>

    {% for  post in posts%}
    <div>
        <p>published : {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
    {% endfor %}

    <div>
        <p>Today we work with HTML and CSS</p>
        <p>BTW IT WORKS!</p>
        <h1><a href="https://ladridibiblioteche3.wordpress.com/">Best blog ever!</a></h1>
    </div>
    <div>
        <h1>amoeba</h1>
            <h2>ameba</h2>
                <h3>ameeeebaaaaa</h3>
                    <h4>AMEBAAMEBAAMEBAAMEBAAMEBAAMEBAAMEBAAMEBA!!!!</h4>
    </div>
    <div>
        <em>you're so horny sexy natascia</em>
        <strong>LE ORCHE D'ASSALTO!</strong>
    <div>

    <div>
    	<p>A better amoeba</p>
    	<p>Published: 06-12-39 a.C. by kio</p>
    	<ul><li>amoeba</li><li>ameba</li><li>ameeeeebaaaa</li><li>AMEEEEBAAMEBAAMEBAAMEBAAMEBAAMEBAAMEBAAMEBAAMEBAMAMEBAEMABAAMEBA</li></ul>
    </div>
</body>
</html>